@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #8c98a4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: var(--foreground);
  background: #fff;
  height: 100dvh;
  width: 100%;
}

/* .bg-primary-gradient {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(19, 102, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.w-fit {
  width: -webkit-fill-available;
}
